@charset "utf-8";
/* CSS Document */

/*
#####################################################################

	目次【INDEX】

#####################################################################

■グリッド【row】

　＿均等カラム【.fit .row-col】

　＿分割カラム【.row-col1～12】

　＿ブレイクポイント分割カラム【.col-xs～col-lg】

　＿固定カラム【.row-box】

　＿ボックスカラム【.col-box】


■サムネール【thumbnail】

　＿サムネール【thumbnail】

　＿グリッド【.row-col】

　＿文字隠し【.t_hidden-full】

　＿フィット【t_fit】




/*
#####################################################################

	グリッド【row】

#####################################################################
*/

/*float解除指定*/.row:after { display: block; clear: both; height: 0; visibility: hidden; content: "."; font-size: 0; line-height: 0;}
/*float解除指定*/.row{ clear: both; min-height: 1px; }

.row {
	box-sizing: border-box;

	display: -webkit-flex;/* Safari */
	display: flex;

	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
}


/* ****************************************************
  均等カラム【.fit .row-col】
***************************************************** */

/*float解除指定*/.row.fit:after { content:none; }

.row.fit {
    display: table;
    table-layout: fixed;
	width: 100%;

}

.row-col{
	display: table-cell;
    vertical-align: top;
	box-sizing: border-box;
	table-layout: fixed;
}

@media screen and (max-width : 479px){
	.row-col{
		float:none;
		display: block;
		width: auto;
	}
}

/* ****************************************************
  分割カラム【row-col1～6】
***************************************************** */

.row-col12,.row-col11,.row-col10,.row-col9,.row-col8,.row-col7,.row-col7_5,.row-col6,.row-col5,.row-col4,.row-col3,.row-col2_5,.row-col2,.row-col1{
	position:relative;
	word-break: break-all;
	display: table-cell;
    vertical-align: top;
	float:left;
}

.row-col12{ width: 100%; }/*12カラム分幅*/
.row-col11{ width: 91.6667%; }/*11カラム分幅*/
.row-col10{ width: 83.3333%; }/*10カラム分幅*/
.row-col9{ width: 75%; }/*9カラム分幅*/
.row-col8{ width: 66.6667%; }/*8カラム分幅*/
.row-col7_5{ width: 59.9999%; }/*7.5カラム分幅*/
.row-col7{ width: 58.3333%; }/*7カラム分幅*/
.row-col6{ width: 50%; }/*6カラム分幅*/
.row-col5{ width: 41.6667%; }/*5カラム分幅*/
.row-col4{ width: 33.3333%; }/*4カラム分幅*/
.row-col3{ width: 25%; }/*3カラム分幅*/
.row-col2_5{ width: 20%; }/*2.5カラム分幅*/
.row-col2{ width: 16.6667%; }/*2カラム分幅*/
.row-col1{ width: 8.33333%; }/*1カラム分幅*/

@media screen and (max-width : 479px){
	.row-col12,.row-col11,.row-col10,.row-col9,.row-col8,.row-col7,.row-col7_5,.row-col6,.row-col5,.row-col4,.row-col3,.row-col2_5,.row-col2,.row-col1{
		float:none;
		display: block;
		width: 100%;
	}

}


/* ****************************************************
  ブレイクポイント分割カラム【.col-xs～col-lg】
***************************************************** */

.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-7_5,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2_5,.col-xs-2,.col-xs-1,
.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-7_5,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2_5,.col-sm-2,.col-sm-1,
.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-7_5,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2_5,.col-md-2,.col-md-1,
.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-7_5,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2_5,.col-lg-2,.col-lg-1{
	position:relative;
	word-break: break-all;
	display: table-cell;
    vertical-align: top;
	float:left;
}

/*均等カラムと混合してる場合調整*/
.row-col.col-xs-12,.row-col.col-xs-11,.row-col.col-xs-10,.row-col.col-xs-9,.row-col.col-xs-8,.row-col.col-xs-7,.row-col.col-xs-7_5,.row-col.col-xs-6,.row-col.col-xs-5,.row-col.col-xs-4,.row-col.col-xs-3,.col-xs-2_5,.row-col.col-xs-2,.row-col.col-xs-1,
.row-col.col-sm-12,.row-col.col-sm-11,.row-col.col-sm-10,.row-col.col-sm-9,.row-col.col-sm-8,.row-col.col-sm-7,.row-col.col-sm-7_5,.row-col.col-sm-6,.row-col.col-sm-5,.row-col.col-sm-4,.row-col.col-sm-3,.col-sm-2_5,.row-col.col-sm-2,.row-col.col-sm-1{
	float:inherit;
}

.col-md-12{ width: 100%; }/*12カラム分幅*/
.col-md-11{ width: 91.6667%; }/*11カラム分幅*/
.col-md-10{ width: 83.3333%; }/*10カラム分幅*/
.col-md-9{ width: 75%; }/*9カラム分幅*/
.col-md-8{ width: 66.6667%; }/*8カラム分幅*/
.col-md-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
.col-md-7{ width: 58.3333%; }/*7カラム分幅*/
.col-md-6{ width: 50%; }/*6カラム分幅*/
.col-md-5{ width: 41.6667%; }/*5カラム分幅*/
.col-md-4{ width: 33.3333%; }/*4カラム分幅*/
.col-md-3{ width: 25%; }/*3カラム分幅*/
.col-md-2_5{ width: 20%; }/*2.5カラム分幅*/
.col-md-2{ width: 16.6667%; }/*2カラム分幅*/
.col-md-1{ width: 8.33333%; }/*1カラム分幅*/

@media screen and (min-width : 2300px){
	.col-lg-12{ width: 100%; }/*12カラム分幅*/
	.col-lg-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-lg-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-lg-9{ width: 75%; }/*9カラム分幅*/
	.col-lg-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-lg-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-lg-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-lg-6{ width: 50%; }/*6カラム分幅*/
	.col-lg-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-lg-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-lg-3{ width: 25%; }/*3カラム分幅*/
	.col-lg-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-lg-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-lg-1{ width: 8.33333%; }/*1カラム分幅*/

}

@media screen and (max-width : 1000px){

	.col-lg-12{ width: 100%; }/*12カラム分幅*/
	.col-lg-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-lg-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-lg-9{ width: 75%; }/*9カラム分幅*/
	.col-lg-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-lg-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-lg-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-lg-6{ width: 50%; }/*6カラム分幅*/
	.col-lg-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-lg-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-lg-3{ width: 25%; }/*3カラム分幅*/
	.col-lg-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-lg-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-lg-1{ width: 8.33333%; }/*1カラム分幅*/

	.col-md-12{ width: 100%; }/*12カラム分幅*/
	.col-md-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-md-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-md-9{ width: 75%; }/*9カラム分幅*/
	.col-md-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-md-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-md-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-md-6{ width: 50%; }/*6カラム分幅*/
	.col-md-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-md-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-md-3{ width: 25%; }/*3カラム分幅*/
	.col-md-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-md-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-md-1{ width: 8.33333%; }/*1カラム分幅*/
}


@media screen and (max-width : 767px){

	/*均等カラムと混合してる場合調整*/
	.row-col.col-xs-12,.row-col.col-xs-11,.row-col.col-xs-10,.row-col.col-xs-9,.row-col.col-xs-8,.row-col.col-xs-7,.row-col.col-xs-7_5,.row-col.col-xs-6,.row-col.col-xs-5,.row-col.col-xs-4,.row-col.col-xs-3,.col-xs-2_5,.row-col.col-xs-2,.row-col.col-xs-1,
	.row-col.col-sm-12,.row-col.col-sm-11,.row-col.col-sm-10,.row-col.col-sm-9,.row-col.col-sm-8,.row-col.col-sm-7,.row-col.col-sm-7_5,.row-col.col-sm-6,.row-col.col-sm-5,.row-col.col-sm-4,.row-col.col-sm-3,.col-sm-2_5,.row-col.col-sm-2,.row-col.col-sm-1{
		float: left;
	}

	.col-lg-12{ width: 100%; }/*12カラム分幅*/
	.col-lg-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-lg-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-lg-9{ width: 75%; }/*9カラム分幅*/
	.col-lg-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-lg-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-lg-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-lg-6{ width: 50%; }/*6カラム分幅*/
	.col-lg-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-lg-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-lg-3{ width: 25%; }/*3カラム分幅*/
	.col-lg-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-lg-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-lg-1{ width: 8.33333%; }/*1カラム分幅*/

	.col-md-12{ width: 100%; }/*12カラム分幅*/
	.col-md-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-md-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-md-9{ width: 75%; }/*9カラム分幅*/
	.col-md-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-md-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-md-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-md-6{ width: 50%; }/*6カラム分幅*/
	.col-md-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-md-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-md-3{ width: 25%; }/*3カラム分幅*/
	.col-md-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-md-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-md-1{ width: 8.33333%; }/*1カラム分幅*/

	.col-sm-12{ width: 100%; }/*12カラム分幅*/
	.col-sm-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-sm-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-sm-9{ width: 75%; }/*9カラム分幅*/
	.col-sm-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-sm-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-sm-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-sm-6{ width: 50%; }/*6カラム分幅*/
	.col-sm-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-sm-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-sm-3{ width: 25%; }/*3カラム分幅*/
	.col-sm-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-sm-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-sm-1{ width: 8.33333%; }/*1カラム分幅*/

}


@media screen and (max-width : 479px){

	.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-7_5,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2_5,.col-xs-2,.col-xs-1,
	.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-7_5,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2_5,.col-sm-2,.col-sm-1,
	.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-7_5,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2_5,.col-md-2,.col-md-1,
	.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-7_5,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2_5,.col-lg-2,.col-lg-1{
		display: table-cell;
		float:left;
	}

	.col-lg-12{ width: 100%; }/*12カラム分幅*/
	.col-lg-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-lg-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-lg-9{ width: 75%; }/*9カラム分幅*/
	.col-lg-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-lg-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-lg-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-lg-6{ width: 50%; }/*6カラム分幅*/
	.col-lg-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-lg-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-lg-3{ width: 25%; }/*3カラム分幅*/
	.col-lg-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-lg-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-lg-1{ width: 8.33333%; }/*1カラム分幅*/

	.col-md-12{ width: 100%; }/*12カラム分幅*/
	.col-md-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-md-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-md-9{ width: 75%; }/*9カラム分幅*/
	.col-md-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-md-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-md-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-md-6{ width: 50%; }/*6カラム分幅*/
	.col-md-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-md-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-md-3{ width: 25%; }/*3カラム分幅*/
	.col-md-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-md-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-md-1{ width: 8.33333%; }/*1カラム分幅*/

	.col-sm-12{ width: 100%; }/*12カラム分幅*/
	.col-sm-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-sm-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-sm-9{ width: 75%; }/*9カラム分幅*/
	.col-sm-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-sm-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-sm-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-sm-6{ width: 50%; }/*6カラム分幅*/
	.col-sm-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-sm-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-sm-3{ width: 25%; }/*3カラム分幅*/
	.col-sm-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-sm-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-sm-1{ width: 8.33333%; }/*1カラム分幅*/

	.col-xs-12{ width: 100%; }/*12カラム分幅*/
	.col-xs-11{ width: 91.6667%; }/*11カラム分幅*/
	.col-xs-10{ width: 83.3333%; }/*10カラム分幅*/
	.col-xs-9{ width: 75%; }/*9カラム分幅*/
	.col-xs-8{ width: 66.6667%; }/*8カラム分幅*/
	.col-xs-7_5{ width: 59.9999%; }/*7.5カラム分幅*/
	.col-xs-7{ width: 58.3333%; }/*7カラム分幅*/
	.col-xs-6{ width: 50%; }/*6カラム分幅*/
	.col-xs-5{ width: 41.6667%; }/*5カラム分幅*/
	.col-xs-4{ width: 33.3333%; }/*4カラム分幅*/
	.col-xs-3{ width: 25%; }/*3カラム分幅*/
	.col-xs-2_5{ width: 20%; }/*2.5カラム分幅*/
	.col-xs-2{ width: 16.6667%; }/*2カラム分幅*/
	.col-xs-1{ width: 8.33333%; }/*1カラム分幅*/
}

/* ****************************************************
  固定カラム【row-box】
***************************************************** */
.row-box{
	float: left;
	vertical-align: top;
	box-sizing: border-box;
}

/*詳細指定*/
.row-box{ margin:0 10px 10px 0; }

@media screen and (max-width : 479px){
	.row-box{ width:100%; margin:0 0 10px 0;}
}



/* ****************************************************
  ボックスカラム【col-box】
***************************************************** */

.col-box-xs{}
.col-box-s {}
.col-box-m {}
.col-box-l { max-width:705px;}
.col-box-xl{}

@media screen and (max-width : 767px){
	.col-box-xs{}
	.col-box-s {}
	.col-box-m {}
	.col-box-l {}
	.col-box-xl{}
}

@media screen and (max-width : 479px){
	/*.col-box-xs{ width:100%; }
	.col-box-s { width:100%; }
	.col-box-m { width:100%; }
	.col-box-l { width:100%; }
	.col-box-xl{ width:100%; }*/
}


/*
#####################################################################

	サムネール【thumbnail】

#####################################################################
*/


/* ****************************************************
  サムネール【thumbnail】
***************************************************** */

.thumbnail{
	width:auto;
	margin:0 0px;/*row-colのパディング分マイナスマージン*/
}
.thumbnail .row-box{ margin:0; }
.thumbnail > div{ display:flex;}
.thumbnail.fit > div{ display:table-cell;}

/*サムネール設定*/
.thumbnail .thum-box{
	margin:0.5px;
	overflow: hidden;
	-moz-opacity:0.5;opacity:0.5;
}

.thumbnail .thum-box:hover{
	filter: alpha(opacity=100);
	-moz-opacity:1.0;opacity:1.0;
}

/*画像*/
.thumbnail img{ width:100%; height:auto; -ms-transform: scale(1.01); -webkit-transform: scale(1.01); transform: scale(1.01);}


/* ****************************************************
  キャプション【.t_caption】
***************************************************** */
.t_caption{
	width:100%;
	box-sizing:border-box;
}

.t_caption{/*詳細指定*/
	margin-top:10px;
}


/* ****************************************************
  文字隠し【.t_hidden-full】
***************************************************** */

.t_hidden-full .thum-box{
	position:relative;
}
.t_hidden-full .t_caption{
	position:absolute;
	top:0;
	margin:0;
	height:100%;

	display: -webkit-flex;/* Safari */
	display: flex;

	/*詳細設定*/
	-webkit-align-items: center; /* Safari */
	align-items: center;

	-webkit-flex-direction: column;/* Safari */
	flex-direction: column;


	filter: alpha(opacity=0); -moz-opacity:0; opacity:0;
}
.t_hidden-full .thum-box a:hover{
	filter: alpha(opacity=100);
	-moz-opacity:1.0;opacity:1.0;
}

.t_hidden-full .t_caption{
	color:#FFF;
	padding:20px;

	-webkit-justify-content: center; /* Safari */
	justify-content: center;
}
.t_hidden-full .thum-box:hover .t_caption{ filter: alpha(opacity=100); -moz-opacity:1.0; opacity:1.0;}

.t_hidden-full .thum-box:hover span.animation_box{ -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8);}
.t_hidden-full .thum-box:hover img{  -ms-transform: scale(1.04); -webkit-transform: scale(1.04); transform: scale(1.04); }


/* ****************************************************
  フィット【t_fit】
***************************************************** */

.t_fit{
	margin:auto 0;
}
.t_fit .thum-box{
	margin:0;
}


/*
#####################################################################

	トランジョン

#####################################################################
*/

/* ****************************************************
  一括指定【easeOutExpo】
***************************************************** */

.thumbnail .thum-box,
.t_hidden-full .t_caption,
.t_hidden-half .t_caption{
	-webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
