@charset "utf-8";
/*---------------------------------------
    restCSS
----------------------------------------*/

html {
  overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

object, embed {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, abbr, acronym, fieldset {
  border: 0;
}

ul li, ol li {
  list-style-type: none;
}

a, label {
  cursor: pointer;
}

img, svg {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
  background-color: #071b26;
  color: #fff;
  line-height: 1.5;
  font-size: 76%;
  overflow: hidden;
}

.inner {
  width: 1000px;
  margin: 0px auto;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover img {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70);
  opacity: 0.7;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Ailerons';
  src: url(../fonts/Ailerons-Typeface.otf) format('opentype'), url(../fonts/Ailerons-Typeface.woff) format('woff');
}

/*----------------------------------------
    animation
----------------------------------------*/

.hover_line {
  position: relative;
}

.hover_line:hover {
  text-decoration: none;
}

.hover_line:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0%;
  bottom: 40%;
  height: 2px;
  background: #fff none repeat scroll 0 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.hover_line:hover:before {
  width: 100%;
}

/*---------------
shape animation
----------------*/

.shapes .shape {
  position: fixed;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hexa {
  top: 5%;
  right: 5%;
}

.triangle {
  bottom: 5%;
  left: 5%;
}

@keyframes spin {
  from {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

/*--------------------
icon-moon1
--------------------*/

.icon-moon1 {
  overflow: hidden;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

.icon-moon1:before {
  content: '';
  overflow: hidden;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  width: 490px;
  height: 490px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  animation-name: ani_moon;
  animation-duration: 4s;
  -webkit-transform: rotateY(0deg) translate(-50%, -50%);
  /* Safari */
  transform: rotateY(0deg) translate(-50%, -50%);
  /* Standard syntax */
}

.icon-moon1:before {
  box-shadow: inset 2px 2px 2px #d2c4a7;
  -webkit-box-shadow: inset 2px 2px 2px #d2c4a7;
  -moz-box-shadow: inset 2px 2px 2px #d2c4a7;
}

@keyframes ani_moon {
  from {
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
    /* Safari */
    transform: translate(-50%, -50%) rotateY(90deg);
    /* Standard syntax */
  }
  to {
    -webkit-transform: rotateY(0deg) translate(-50%, -50%);
    /* Safari */
    transform: rotateY(0deg) translate(-50%, -50%);
    /* Standard syntax */
  }
}

/*--------------------
button
--------------------*/


/*----------------------------------------
    canvas
----------------------------------------*/

#world {
  position: fixed;
  top: 0;
  left: 0;
}

/*----------------------------------------
    title
----------------------------------------*/

.heading1-EN {
  font-size: 2.2rem;
  letter-spacing: 1.52rem;
  color: #d2c4a7;
  font-family: 'Ailerons';
}

.tlt, .tlt_top {
  font-size: 40px;
  color: #d2c4a7;
  text-align: center;
  font-family: 'Ailerons';
  margin-bottom: 30px;
}

/*----------------------------------------
    icon_fix
----------------------------------------*/

.icon_fix {
  position: fixed;
  z-index: 99999997;
  width: 100%;
  height: 0%;
  webkit-transition: all 1400ms ease;
  -moz-transition: all 1400ms ease;
  -o-transition: all 1400ms ease;
  transition: all 1000ms ease;
}

#wrapper .icon_fix_active {
  height: 50%;
  webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.icon_fix_top {
  border-bottom: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0px;
}

.icon_fix_bottom {
  border-top: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0px;
  right: 0px;
}

.lang {
  position: fixed;
  bottom: 1%;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.lang a {
  position: relative;
  display: inline-block;
  padding: 0px 14px;
  color: #4e4e4e;
}

.lang a:before, .lang a:after {
  content: '';
  position: absolute;
  top: 45%;
  height: 2px;
  width: 7px;
  background: #4e4e4e;
}

.lang a:before {
  left: 0px;
}

.lang a:after {
  right: 0px;
}

section .English {
  display: none;
}

section .Japanese {
  display: block;
}

/*----------------------------------------
    nav_btn
----------------------------------------*/

.nav_btn {
  position: fixed;
  z-index: 99999999;
  top: 25px;
  left: 25px;
  cursor: pointer;
  width: 25px;
  height: 20px;
}

.nav_btn span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #d2c4a7;
  position: absolute;
  webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav_btn span:first-child {
  top: 0px;
}

.nav_btn span:last-child {
  bottom: 0px;
}

.nav_btn span.middle {
  top: 9px;
}

.btn_actived span:first-child {
  transform: rotate(45deg);
  top: 9px;
}

.btn_actived span:last-child {
  transform: rotate(-45deg);
  bottom: 9px;
}

.btn_actived span.middle {
  display: none;
}

/*----------------------------------------
    nav
----------------------------------------*/

.nav_wrap {
  position: fixed;
  z-index: 99999998;
  width: 50%;
  height: 100%;
  top: 0px;
  left: -145%;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.nav_actived {
  left: 0% !Important;
}

.nav_wrap::before, .nav_wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: skew(-51deg);
  background-color: #d2c4a7;
}

.nav_wrap::before {
  left: -260px;
}

.nav_wrap::after {
  left: 0px;
}

.gnav {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

.gnav ul li a {
  color: #fff;
  font-family: 'Ailerons';
  font-size: 2.1rem;
  line-height: 1.53;
  letter-spacing: 0.1rem;
}

.nav_wrap p {
  margin-top: 15px;
}

/*----------------------------------------
    header
----------------------------------------*/

header {}

#logo {}

/*----------------------------------------
    content
----------------------------------------*/

#content_wrap {}

section.section {
  padding: 0 7%;
  height: 100vh;
}

/*---------------
  top
  -------------*/

.top {
  text-align: center;
}

.top img {
  opacity: 0;
}

/*---------------
  concept
  -------------*/

.contents {
  font-size: 18px;
}

.contents {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}

.content_active {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  ms-transition: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

/*---------------
  gallery
  -------------*/

.wrapper2 {
  max-width: 1000px;
}

.gallery {
  padding: 0px !important;
  display: flex;
}

/*---------------
  about
  -------------*/

.about_info dt {
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 10px;
  color: #d2c4a7;
}

.flex {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  -webkit-justify-content: space-around;
  /* Safari */
  justify-content: space-around;
}

/*---------------
  info
  -------------*/

.hide {
  display: none;
}

.info {
  text-align: center;
}

.box {
  width: 300px;
  height: 460px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #d2c4a7;
  -webkit-transition: background 0.4s 0.5s;
  transition: background 0.4s 0.5s;
  margin-bottom: 10px;
}

.box span {
  color: #fff;
}

.box h3 {
  font-family: "Ruthie", cursive;
  font-size: 145px;
  line-height: 370px;
  margin: 0;
  font-weight: 400;
  width: 100%;
}

.box svg {
  position: absolute;
  top: 0;
  left: 0;
}

.box svg line {
  stroke-width: 3;
  stroke: #d2c4a7;
  fill: none;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.box:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.box svg line.top, .box svg line.bottom {
  stroke-dasharray: 330 240;
}

.box svg line.left, .box svg line.right {
  stroke-dasharray: 490 400;
}

.box:hover svg line.top {
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px);
}

.box:hover svg line.bottom {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
}

.box:hover svg line.left {
  -webkit-transform: translateY(920px);
  transform: translateY(920px);
}

.box:hover svg line.right {
  -webkit-transform: translateY(-920px);
  transform: translateY(-920px);
}

.tb_display {
  display: none;
}

.info_btn {
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 30px 10px 0;
  background: #d2c4a7;
  cursor: pointer;
}

/*---------------
    contact
    -------------*/

.form_title {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

#send_mail p {
  margin-bottom: 10px;
}

#send_mail input {
  color: #4e4e4e;
  background: #1b1b1b;
  border: none !important;
  height: 35px !important;
  line-height: 35px !important;
}

#send_mail textarea {
  color: #83afe6;
  border: none !important;
  background: #1b1b1b;
  padding: 5px;
  font-size: 15px;
  height: 130px !important;
  line-height: 35px !important;
  width: 100%;
  display: block;
}

#send_mail .submit {
  text-align: center;
  margin-top: 20px;
}

#send_mail .submit input {
  border-radius: 0;
  width: auto;
  background: none;
  border: 0px;
  display: inline;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#send_mail .submit input:hover {
  background: #1b1b1b;
  color: #fff;
}

#send_mail .submit button {
  border: 1px solid #fff;
  background: #09aeee;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 10px 15px;
  width: 180px;
}

#send_main .sumbit button:hover {
  border: 1px solid #09aeee;
  background: #fff;
  color: #09aeee;
}

#form_ct {
  margin: 25px 0 0 0;
}

.form_row {
  margin: 0 -15px;
}

.form_tit {
  float: left;
  width: 33.33%;
  padding: 0 15px;
}

.form_tit .form_tit_inner {
  width: 100%;
  margin-bottom: 30px;
}

.form_tit .form_tit_inner input, #send_mail input {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #4e4e4e !important;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  position: relative;
  z-index: 99;
}

.form_desc {
  float: left;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 35px;
}

.form_desc textarea, #send_mail textarea {
  border: 1px solid #4e4e4e !important;
  height: 150px;
  width: 100%;
  font-size: 16px;
  font-family: "Roboto", "segoe ui", Helvetica, Arial, sans-serif;
  color: #777777;
  padding: 0 20px;
  line-height: 60px;
  position: relative;
  -webkit-resize: none;
  -moz-resize: none;
  resize: none;
  z-index: 99;
}

.form_btn {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.form_btn button {
  background: #09aeee;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 30px;
  padding: 12px 0;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 225px;
}

.form_btn button:hover {
  background: #fff;
  box-shadow: inset 0px 0px 0px 2px #09aeee;
  color: #09aeee;
  cursor: pointer;
}

/*----------------------------------------
    topic_path
----------------------------------------*/

#topic_path {}

#topic_path li {
  display: inline;
}

/*----------------------------------------
    aside
----------------------------------------*/

#aside {}

/*----------------------------------------
    footer
----------------------------------------*/

footer {}
