@media screen and (max-width: 769px) {
	.nav_wrap {
		left: -200%;
	}
	.nav_btn span {
		background-color: #fff;
	}
	.tlt {
		font-size: 35px;
	}
}
@media screen and (max-width: 468px) {
	.nav_wrap::before, .nav_wrap::after {
		transform: none;
	}
	.flex {
		display: block;
	}
	.about_info {
		margin-bottom: 30px;
	}
	.icon-moon1:before {
		height: 300px;
		width: 300px;
	}
})
